# Data Wrangling

More often than not, you find yourself dealing with a lot of data, which is of no use to you in its raw form. The process of cleaning the data enough to input to the analytical algorithm is known as Data Wrangling. It is also referred to as Data Munging.

Key concepts that are usually involved are:
* merging data frames
* filtering data frames
* manipulating rows and columns

## Overview

* Collecting data
* Cleaning data
* Transforming data
* Using transformed data to get new information
* TDD and Functional programming(Unit testing - to check if our functions work and making use of functional programming techniques (map, reduce, apply) instead of loops when writing the functions

The data which will be explored is that of learnership applicants that wish to be a part of the Umuzi organisation within various departments, those deparments being: Web Development, Data Science, Copywriting, Design, Strategy and Multimedia.

## Goals/ What we want to achieve

The instructions that will guide us to the end of what we want to achieve are on the link provided below: 

https://umuzi-org.github.io/tech-department/topics/data-science-specific/data-wrangling/

### 1. Read dataset  and examine dataframe for duplicates (ID)

###### Importing pandas and statistics modules
We will begin this journey by importing modules which we will be using for our wrangling then explore and clean our data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics

Reading personality scores dataset into dataframe.

In [2]:
df_scores = pd.read_csv('personality_scores.csv', delimiter=';')
df_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

From .shape we are able to see how much data we are working with before removing null values and duplicates. 1555 rows and 70 columns

In [3]:
df_scores.shape

(1555, 70)

We then find out if we have any duplicates and then null values and drop them if there are any found

In [4]:
df_scores.duplicated().values.any() #This returns a boolean value indicating that there any duplicate values in the dataframe

False

In [5]:
df_scores.isnull().values.any() #This returns a boolean value indicating that there any nan values in the dataframe

True

In [6]:
df_scores = df_scores.drop_duplicates(subset='ID', keep='first').dropna(axis=1)
df_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

From the above code we can safely say that we don't have duplicates but instead Nan values, therefore we drop them

Then once again, we check how much data we are left with / working with after dropping Nan values

In [7]:
df_scores.shape

(1555, 51)

Now it looks like it is clean enough to work with we can start answering the questions posed on the website

the first thing we do is find out the data type, although we are told that we are working with tuples its always safe to check

Setting the ID column as the index for both dataframes.

In [8]:
df_scores = df_scores.set_index('ID')

In [9]:
df_scores.head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [10]:
df_scores.shape

(1555, 50)

In [11]:
df_scores.loc[0][0]

'(3, 5)'

In [12]:
type(eval(df_scores.loc[0][0]))

tuple

Because we have figured that we were eventually working with a string, we then decided to use the eval() function because it allows strings to be passed as code

We will now write functions that will convert the answer on each personality test question and calculate the total scores for each of the subscales by applying unit testing

In [13]:
def sum_per_subscale(scores_per_person, subscale):
    subscale_sum = sum([eval(scores_per_person[i])[1] for i in range(50) if eval(scores_per_person[i])[0] == subscale])
    return(subscale_sum)    

sum_per_subscale(df_scores.loc[0], 1)

30

In [14]:
df_scores['Extraversion'] = df_scores.apply(lambda row: sum_per_subscale(row, 1), axis=1)
df_scores['Agreeableness'] = df_scores.apply(lambda row: sum_per_subscale(row, 2), axis=1)
df_scores['Conscientiousness'] = df_scores.apply(lambda row: sum_per_subscale(row, 3), axis=1)
df_scores['EmotionalStability'] = df_scores.apply(lambda row: sum_per_subscale(row, 4), axis=1)
df_scores['Intellect'] = df_scores.apply(lambda row: sum_per_subscale(row, 5), axis=1)

df_scores.head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,EmotionalStability,Intellect
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

The next thing we do is create a function/functions that takes in subscale total, and for each subscale, creates a new column called “{subscale_name}_interpretation” and applies the labels “low”, “medium”, or “high” according to a person’s score on that subscale. Ana again, we will write a unit test before creating this function that tests whether the generate_score_interpretation function works.

In [15]:
def generate_score_interpretation(cutoff):
    for col in df_subscale.columns:
        high = df_subscale.loc[:,col].mean() + ((df_subscale.loc[:,col].std())/2)
        medium = df_subscale.loc[:,col]
        low = df_subscale.loc[:,col].mean() - ((df_subscale.loc[:,col].std())/2)
        
        
        
        if cutoff >= high:
            return 'High'
        elif cutoff < high and cutoff > low:
            return 'Medium'
        else:
            return 'Low'

In [16]:
df_subscale = pd.DataFrame()
df_subscale['Extraversion'] = df_scores.apply(lambda row: sum_per_subscale(row, 1), axis=1)
df_subscale['Agreeableness'] = df_scores.apply(lambda row: sum_per_subscale(row, 2), axis=1)
df_subscale['Conscientiousness'] = df_scores.apply(lambda row: sum_per_subscale(row, 3), axis=1)
df_subscale['EmotionalStability'] = df_scores.apply(lambda row: sum_per_subscale(row, 4), axis=1)
df_subscale['Intellect'] = df_scores.apply(lambda row: sum_per_subscale(row, 5), axis=1) 

df_subscale.head()

,Extraversion,Agreeableness,Conscientiousness,EmotionalStability,Intellect
ID,,,,,
0,30,40,48,36,42
1,42,46,46,40,42
2,28,40,40,38,42
3,30,38,38,40,38
4,28,34,46,38,36

In [17]:
df_subscale.index
sub_interp = df_subscale.applymap(generate_score_interpretation)
sub_interp.columns = ['Extraversion_Interpretation','Agreeableness_Interpretation','Conscientiousness_Interpretation', 'EmotionalStability_Interpretation','Intellect_Interpretation']
sub_interp.head()

,Extraversion_Interpretation,Agreeableness_Interpretation,Conscientiousness_Interpretation,EmotionalStability_Interpretation,Intellect_Interpretation
ID,,,,,
0,Medium,High,High,High,High
1,High,High,High,High,High
2,Medium,High,High,High,High
3,Medium,High,High,High,High
4,Medium,Medium,High,High,High

Now we are going to read in the data in departments.csv and merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Then after that we are going to assert that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

In [18]:
df_departments = pd.read_csv('departments.csv', delimiter = ';')
df_departments.head()

,ID,Department,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,IPIP_HIGH_RISK
0,0,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_departments.shape

(1555, 21)

We drop the duplicates and nan values once again

In [20]:
df_department = df_departments.drop_duplicates(subset='ID', keep='first').dropna(axis=1)
df_department.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

We again set the index for the department to ID

In [21]:
df_department = df_department.set_index('ID')

In [22]:
df_department.shape

(1555, 1)

In [23]:
df_department.head()

   Department
ID
0        Data
1        Data
2        Data
3        Data
4        Data

We check the datatype we are working with from this dataset

In [24]:
type(df_department.loc[0][0])

str

Now we are going to read in the data in departments.csv and merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Then after that we are going to assert that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

In [25]:
dep_scores = pd.merge(df_subscale, df_department, left_on='ID', right_on ='ID', indicator=False)
dep_scores.head()

,Extraversion,Agreeableness,Conscientiousness,EmotionalStability,Intellect,Department
ID,,,,,,
0,30,40,48,36,42,Data
1,42,46,46,40,42,Data
2,28,40,40,38,42,Data
3,30,38,38,40,38,Data
4,28,34,46,38,36,Data

The next step requires us to plot histograms of personality scores by department but first we may need to clean some of the department names so that we can be able to work with it